<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="authLoginMapper">

    <select id="selectLoginUser" parameterType="map"
            resultType="egovframework.com.feature.auth.dto.response.LoginResponseDTO">
        <choose>
            <when test='userSe == "GNR"'>
                SELECT
                    GM.MBER_ID AS userId,
                    GM.MBER_NM AS name,
                    GM.PASSWORD AS userPw,
                    GM.IHIDNUM AS ihidNum,
                    GM.MBER_EMAIL_ADRES AS email,
                    'GNR' AS userSe,
                    '' AS orgnztId,
                    GM.ESNTL_ID AS uniqId,
                    '' AS ip,
                    ES.AUTHOR_CODE AS authorCode,
                    GM.AUTH_TY AS authTy,
                    GM.AUTH_DN AS authDn,
                    GM.AUTH_CI AS authCi,
                    GM.AUTH_DI AS authDi,
                    GM.MBER_STTUS AS memberStatus
                FROM COMTNGNRLMBER GM
                INNER JOIN COMTNEMPLYRSCRTYESTBS ES
                    ON GM.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
                WHERE GM.MBER_ID = #{userId}
                  AND GM.MBER_STTUS = 'P'
            </when>
            <when test='userSe == "ENT"'>
                SELECT
                    EM.ENTRPRS_MBER_ID AS userId,
                    EM.CMPNY_NM AS name,
                    EM.ENTRPRS_MBER_PASSWORD AS userPw,
                    EM.BIZRNO AS ihidNum,
                    EM.APPLCNT_EMAIL_ADRES AS email,
                    'ENT' AS userSe,
                    '' AS orgnztId,
                    EM.ESNTL_ID AS uniqId,
                    '' AS ip,
                    ES.AUTHOR_CODE AS authorCode,
                    EM.AUTH_TY AS authTy,
                    EM.AUTH_DN AS authDn,
                    EM.AUTH_CI AS authCi,
                    EM.AUTH_DI AS authDi,
                    EM.ENTRPRS_MBER_STTUS AS memberStatus
                FROM COMTNENTRPRSMBER EM
                INNER JOIN COMTNEMPLYRSCRTYESTBS ES
                    ON EM.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
                WHERE EM.ENTRPRS_MBER_ID = #{userId}
                  AND EM.ENTRPRS_MBER_STTUS IN ('A', 'P', 'R')
            </when>
            <otherwise>
                SELECT
                    EI.EMPLYR_ID AS userId,
                    EI.USER_NM AS name,
                    EI.PASSWORD AS userPw,
                    EI.IHIDNUM AS ihidNum,
                    EI.EMAIL_ADRES AS email,
                    'USR' AS userSe,
                    EI.ORGNZT_ID AS orgnztId,
                    EI.ESNTL_ID AS uniqId,
                    '' AS ip,
                    ES.AUTHOR_CODE AS authorCode,
                    EI.AUTH_TY AS authTy,
                    EI.AUTH_DN AS authDn,
                    EI.AUTH_CI AS authCi,
                    EI.AUTH_DI AS authDi,
                    EI.EMPLYR_STTUS_CODE AS memberStatus
                FROM COMTNEMPLYRINFO EI
                INNER JOIN COMTNEMPLYRSCRTYESTBS ES
                    ON EI.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
                WHERE EI.EMPLYR_ID = #{userId}
                  AND EI.EMPLYR_STTUS_CODE = 'P'
            </otherwise>
        </choose>
    </select>

    <select id="selectGeneralLoginUser" parameterType="string"
            resultType="egovframework.com.feature.auth.dto.response.LoginResponseDTO">
        SELECT
            GM.MBER_ID AS userId,
            GM.MBER_NM AS name,
            GM.PASSWORD AS userPw,
            GM.IHIDNUM AS ihidNum,
            GM.MBER_EMAIL_ADRES AS email,
            'GNR' AS userSe,
            '' AS orgnztId,
            GM.ESNTL_ID AS uniqId,
            '' AS ip,
            ES.AUTHOR_CODE AS authorCode,
            GM.AUTH_TY AS authTy,
            GM.AUTH_DN AS authDn,
            GM.AUTH_CI AS authCi,
            GM.AUTH_DI AS authDi,
            GM.MBER_STTUS AS memberStatus
        FROM COMTNGNRLMBER GM
        INNER JOIN COMTNEMPLYRSCRTYESTBS ES
            ON GM.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
        WHERE GM.MBER_ID = #{value}
          AND GM.MBER_STTUS = 'P'
    </select>

    <select id="selectEnterpriseLoginUser" parameterType="string"
            resultType="egovframework.com.feature.auth.dto.response.LoginResponseDTO">
        SELECT
            EM.ENTRPRS_MBER_ID AS userId,
            EM.CMPNY_NM AS name,
            EM.ENTRPRS_MBER_PASSWORD AS userPw,
            EM.BIZRNO AS ihidNum,
            EM.APPLCNT_EMAIL_ADRES AS email,
            'ENT' AS userSe,
            '' AS orgnztId,
            EM.ESNTL_ID AS uniqId,
            '' AS ip,
            ES.AUTHOR_CODE AS authorCode,
            EM.AUTH_TY AS authTy,
            EM.AUTH_DN AS authDn,
            EM.AUTH_CI AS authCi,
            EM.AUTH_DI AS authDi,
            EM.ENTRPRS_MBER_STTUS AS memberStatus
        FROM COMTNENTRPRSMBER EM
        INNER JOIN COMTNEMPLYRSCRTYESTBS ES
            ON EM.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
        WHERE EM.ENTRPRS_MBER_ID = #{value}
          AND EM.ENTRPRS_MBER_STTUS IN ('A', 'P', 'R')
    </select>

    <select id="selectEmployeeLoginUser" parameterType="string"
            resultType="egovframework.com.feature.auth.dto.response.LoginResponseDTO">
        SELECT
            EI.EMPLYR_ID AS userId,
            EI.USER_NM AS name,
            EI.PASSWORD AS userPw,
            EI.IHIDNUM AS ihidNum,
            EI.EMAIL_ADRES AS email,
            'USR' AS userSe,
            EI.ORGNZT_ID AS orgnztId,
            EI.ESNTL_ID AS uniqId,
            '' AS ip,
            ES.AUTHOR_CODE AS authorCode,
            EI.AUTH_TY AS authTy,
            EI.AUTH_DN AS authDn,
            EI.AUTH_CI AS authCi,
            EI.AUTH_DI AS authDi,
            EI.EMPLYR_STTUS_CODE AS memberStatus
        FROM COMTNEMPLYRINFO EI
        INNER JOIN COMTNEMPLYRSCRTYESTBS ES
            ON EI.ESNTL_ID = ES.SCRTY_DTRMN_TRGET_ID
        WHERE EI.EMPLYR_ID = #{value}
          AND EI.EMPLYR_STTUS_CODE = 'P'
    </select>
</mapper>
